[alias]
  a  = add
  aa = add --all
  #########
  br = branch
  bv = branch -v
  #########
  c = commit
  ca = commit -a
  cd = commit --amend
  cad = commit -a --amend
  #########
  co = checkout
  st = status -s -b
  #########
  ls = log --pretty=oneline
  new = checkout -b
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[core]
  editor = nvim
  excludesfile = ~/.gitignore
	autocrlf = input
[init]
  defaultBranch = main
[help]
  autocorrect = 1
[mergetool]
  keepBackup = false
[merge]
  tool = nvimdiff
[mergetool]
    prompt = true
[mergetool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd J'"
[user]
  name = Hugo Correia
  email = hugo@hfcorreia.com
[difftool]
  tool = nvimdiff
  prompt = false
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[push]
  default = simple
	autoSetupRemote = true
